[submodule "sources/yeezus"]
	path = sources/yeezus
	url = git@github.com:imDwAaY/YEEZUS-obsidian.git
[submodule "sources/imdwaay-learning"]
	path = sources/imdwaay-learning
	url = git@github.com:imDwAaY/imdwaay-learning.git
