[submodule "content/notes"]
	path = content/notes
	url = https://github.com/imDwAaY/YEEZUS-obsidian
[submodule "content/imdwaay-learning"]
	path = content/imdwaay-learning
	url = https://github.com/imDwAaY/imdwaay-learning
